/* Sección general */
.about-section {
    padding: 50px 0;
    background-color: #282c34;
}

.tituloSection {
    color: aliceblue;
    text-align: center; 
    font-size: 35px;
    font-family: monospace;
}

/* Contenedor principal de About */
.about-container {
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
   
    flex-wrap: wrap; /* Permite que los elementos se ajusten en móviles */
    text-align: center; /* Asegura que el contenido se centre en móviles */
}

/* Contenedor de texto */
.text-container {
    flex: 1; 
 
    color: aliceblue;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
    border: 2px solid #d400ff; 
    border-radius: 10px;
    box-shadow: 0 0 15px #cc00ff; 
    padding: 10px;
    text-align: center; /* Centra el texto */
}

h3 {
    margin: 5px 0;
}

/* Estilos responsivos para móviles */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Cambia la disposición a columna en móviles */
        align-items: center; /* Centra los elementos en móviles */
    }


    .text-container {
        margin-top: 0; 
        margin-left: 0;
        margin-right: 0;
        width: 90%; 
        font-size: 20px; 
        text-align: center; 
    }
}
