.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Blanco translúcido */
    border: none;
    border-radius: 40%;
    padding: 10px;
    font-size: 35px;
    cursor: pointer;
    z-index: 1000; /* Asegúrate de que el z-index sea alto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .scroll-to-top:hover {
    background-color: rgba(255, 255, 255, 1); /* Fondo blanco sólido en hover */
  }
  @media screen and (max-width: 768px) {
    .scroll-to-top{
      padding: 8px; 
      font-size: 28px;
    }
  }