.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(30, 0, 40, 0.7); /* Fondo oscuro con tono violeta */
  border: none;
  border-radius: 10%;
  padding: 10px;
  font-size: 35px;
  cursor: pointer;
  z-index: 1000;
  color: #d400ff; /* Color violeta claro para el ícono */
  box-shadow: 0 0 10px #d400ff, 0 0 20px #d400ff;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.scroll-to-top:hover {
  background-color: rgba(50, 0, 70, 0.9);
  box-shadow: 0 0 15px #d400ff, 0 0 30px #d400ff;
}

@media screen and (max-width: 768px) {
  .scroll-to-top {
    padding: 8px;
    font-size: 28px;
  }
}
